.tabs {
    display: flex;

    width : 100%;
    height: 50px;
}

.tabs__btn {
    font-family: inherit;
    font-size  : 12px;
    font-weight: 600;
    line-height: 20px;

    width : 50%;
    height: 100%;

    cursor             : pointer;
    transition-duration: .2s;
    transition-property: background-color, border-color, color;
    letter-spacing     : .5px;
    text-transform     : uppercase;

    color           : #4a4a4a;
    border          : 1px solid #dfe5ec;
    outline         : none;
    background-color: #fff;
}

.tabs__btn._active {
    color           : #fff;
    border-color    : #2196f3;
    background-color: #2196f3;
}

.tabs__btn:first-child {
    border-top-left-radius   : 5px;
    border-bottom-left-radius: 5px;
}

.tabs__btn:last-child {
    border-top-right-radius   : 5px;
    border-bottom-right-radius: 5px;
}