.TabContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width    : 100%;
    max-width: 560px;
}

.TabContainerBtn {
    border: none;
    background-color: #2196f3;
    color: #fff;
    font-size: 18px;
    font-family: inherit;
    padding: 0.5em 1em;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.TabContainerTicketsBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}