.TabTicket {
    width           : 100%;
    padding         : 30px 20px;
    background-color: #fff;
    border-radius   : 5px;
    margin-bottom   : 20px;
    box-shadow      : 0 2px 8px #ececec;
}

.TabTicketRow {
    display        : flex;
    justify-content: space-between;
}

.TabTicketRow:not(:last-child) {
    margin-bottom: 15px;
}

.TabTicketCol {
    width: 33.3%;
}

.TabTicketPrice {
    font-size     : 24px;
    color         : #2196f3;
    /* font-weight: 600; */
}

.TabTicketImage {
    max-width: 100%;
}

.TabTicketTitle {
    color         : #999;
    font-weight   : 600;
    font-size     : 16px;
    margin-bottom : 5px;
    text-transform: uppercase;
}

.TabTicketText {
    color        : #555;
    font-weight  : 600;
    font-size    : 16px;
    margin-bottom: 5px;
}