.Filter {
    color           : orange;
    width           : 100%;
    max-width       : 280px;
    background-color: #fff;
    position        : sticky;
    top             : 20px;
    padding         : 25px 0;
    border-radius   : 5px;
    box-shadow      : 0 2px 8px #ececec;
}

.FilterTitle {
    text-transform: uppercase;
    color         : #333;
    margin-bottom : 20px;
    font-size     : 14px;
    padding       : 0 25px;
}

.FilterLabel {
    display    : flex;
    align-items: center;
    color      : #333;
    font-weight: 300;
    padding    : 8px 25px;
    transition : background-color 0.3s;
    cursor     : pointer;
}

.FilterLabel:hover {
    background-color: rgba(33, 150, 243, 0.1);
}

.FilterCheckbox {
    display     : block;
    margin-right: 10px;
}