.TicketInfoHeader {
    font-style    : normal;
    font-weight   : 600;
    font-size     : 12px;
    line-height   : 18px;
    color         : #A0B0B9;
    text-transform: uppercase;
}

.TicketInfoContent {
    font-style : normal;
    font-weight: 600;
    font-size  : 14px;
    line-height: 21px;
    color      : #4A4A4A;
}
