.TabNav {
    display      : flex;
    margin-bottom: 20px;
}

.TabNavButton {
    width           : 50%;
    background-color: #fff;
    color           : #333;
    font-size       : 16px;
    text-transform  : uppercase;
    outline         : none;
    font-family     : inherit;
    border          : 1px solid #ececec;
    padding         : 15px;
    cursor          : pointer;
}

.TabNavButton:first-child {
    border-top-left-radius   : 5px;
    border-bottom-left-radius: 5px;
    border-right             : 0;
}

.TabNavButton:last-child {
    border-top-right-radius   : 5px;
    border-bottom-right-radius: 5px;
    border-left               : 0;
}

.TabNavButton._active {
    background-color: #2196f3;
    color           : #fff;
    border          : 1px solid #2196f3;
}